/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    list-style: none ;
    padding: 0;
    margin: 0;
}
.header {
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    width: 61px;
    height: 19px;
    margin-bottom: 3px;
}

.ul-header {
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 10px;
}

.li-header {
    position: relative;

    margin-left: 64px;
    display: inline;
    font-size: 16px;
    font-family: 'Raleway';
    
}
.li-header::before  {
    content: '';
    position: absolute;
    left: 0;
    top: -10px; 
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease; 
}
.li-header:hover{
    color: #0065FC;
    ;
}
.li-header:hover::before  {
    background-color: #0065FC; 
}
.search {
    margin-top:50px ;
    width: 100%;
    height: 281px;
   
}
.h2-Search{
    margin-bottom: 10px;

}
.p1-search{
    margin-bottom: 33px;
    font-size: 16px;
}
.search-form {
    display: flex;
    margin-bottom: 40px;
}

.search-box {
    height: 27px;
    width: 197px;
    padding: 10px;
    border: 1px solid #F2F2F2
    ;
    border-radius: 0 0 ; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button {
    height: 49px;
    width: 143px ;
    padding: 10px 20px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0; 
    cursor: pointer;
    font-size: 18px;
}
.group-15{
height:    48.89px;
}
  .search-button:hover {
    background-color: #0056b3;
    
  }
  .search-box::placeholder {
    font-family: 'Raleway', sans-serif; 
    color: black; 
    font-size: 18px ;
    font-weight: 700; /* Mettre en gras */

}
.filters {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
    
}
.p1-filters {
font-size: 18px;
color: black;
font-weight: 700 ;
margin-top: 15px;
}
.button-filters {
    background-color: white; /* Changement de l'arrière-plan en blanc */
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    margin-left: 15px;
    height: 50px;
    width: 173px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.button-filters:hover {
    background-color: #DEEBFF;
}

#famililal-button{
    width: 140px;
}
#nospepites-button{
    width: 160px;
}
.information{
    margin-bottom: 25px;
}
.hebergements-carts{
    display: flex;
    gap: 20px;
 flex-wrap: wrap;
 width: 102%;
 height: 20%;
}
.img-carts-hebergement{
    width: 250.33px ;
    Height : 124px
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 15px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
.img-button-filters{
    height: 25px;
    margin-right: 17px;

}
#img-dollard{
    margin-top: 4px;
height: 23px;
margin-right: 10px;

}
#img-coeur{
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;

}
#img-flammes{
    margin-top: 4px;
    margin-right: 10px;
    height: 20px;

}
.information{
    display: flex;
    align-items: center;
}
.inforamation-button {
    background-color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    margin-right: 10px;
}
.card-hebergements {
    margin-top: 20px;
    width: 94%;
    height: 207.25px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    padding:    5px;
}

.img-carts-hebergement {
    width: 250.33px;
    height: 124px;
    border-radius: 20px 20px 0 0;
}
.card-content{
    margin-left: 10px;
   
     
}
.card-title {
    margin-bottom: 7px; 
  }
  .Afficher-Plus p {
    font-weight: bold;  
  }
 
  .activities-marseille h3 {
    margin-top: 40px;
    margin-left: 30px;
    font-weight: bold;
  }
  .activities-card{
height: 431px;
    width: 293px; 
  border-radius: 20px ;
  
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15); 
  transition: box-shadow 0.3s ease-in-out;
  background-color: #fff;
  }

  .img-activities{
 width: 293px ;
 height: 380px;
 border-radius: 20px 20px 0px 0px;
  }
  .activities-card-container{
    display: flex;
    gap: 30px;
    margin-top: 32px;
    margin-left: 19px;
  }
  
  .card-activites-title{
   margin-top: 10px;
   margin-left: 10px;
  }
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    width: 100%;
    height: 100%;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;

    min-width: 871px;
}

.populaires {
    width: 31%;
min-width: 362.45px;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

 .footer {
    margin-top:  70px;
    display: flex;
 }

.a-propos-section{
    background-color: #F2F2F2;
    width: 446.67px;
    height: 163px;
  min-width:  446.67px;

}

.text-footer{
    margin-left: 20px;
    margin-top: 20px;
 
}
.text-footer p {
    margin-top: 10px; /* Espacement entre chaque paragraphe */
}
.button-filters-container  {
    display: flex;
}  

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
.body{
    width: 100%;
}
.main{
    width: 100%;
}
@media (max-width:1024px) {
    .body{
        width: 100%;
    }
    .hebergements-and-populaires {
      flex-direction: column;
    }
   .populaires-cards{
    display: flex; 
    gap: 25px;
   }
    .populaires {
        margin-top: 40px;
      order: 2; 
      height: 268px;
      width: 924px;
     
    } 
    .card {
       width:257px ; 
       height: 136px;
       border-radius: 20px
;
    }
    .hebergements {
         width: 100%;
    }
    .activities-card{
        width: 206px;
        height:308px
      }
    .img-activities{
        
            width: 212px;
            height:241px
          
    }

    .filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
      }
      .button-filters-container  {
        margin-top: 10px;

    }  
      .buttons-container {
       
        align-self : flex-end ;

      }
      
   .information{
    margin-top: 50px;
   }
   .a-propos-section{
    width: 320px;
    min-width: 315px;
   }   
    
   
    .header{
        width: 100%; 
    
     
        
    }
    .footer{width: 930px;}
  }

 
 

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    * {
        padding: 0;
      margin: 0    ;
    }
    .body{width: 100%;}
    .h2-Search{
        margin-top: 93px;
    }
    
    .top-site{
        margin-left: 20px;
        
    }
    .logo{
        width:79px ;
    height: 83px ;  
    margin-left: 50px;
    margin-top: 14px;
    }
    .main-container {
        position: relative;
        padding: 0;
    }
    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    
    }
    
    .ul-header {
        width: 100%;
        display: flex;
      
    }
    .section-title{
        font-size: 27px;
    }
    .hebergements-title h3 {
        font-size: 24px;
    }

    .li-header{
        font-size: 1.2em;
 margin: 0;
    }
    .card-title {
        font-size: 18px;
    }
    .li-header::before {
        display: none;
    }  
    .ul-header li{
        width:50%;
  
        border-bottom: 2px solid var( --main-bg-color) ;
        padding-bottom:20px;

       
      text-align: center;
      vertical-align: center;
    }
.ul-header li:hover{
    width:50%;
  border-bottom: 2px solid var(--main-color) ;
  border-top: none;
  padding-bottom: 20px;
}

.h2-Search{
    display: flex; 
    font-size: 1.38em;

}
.p1-search {

font-size: 15px;

}
.populaires{

    width: 100%;
    min-width: 320px ;
}
.search-form{
    display: flex; 
justify-content: center;
}
.p1-filters {
}
.button-filters-container{
    padding: 0;
   width: 100%;
    display: flex;
      gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0px;
    height: 153px;
}
#nospepites-button {
    width: 44%;
}
#famililal-button {
    width: 44%;
}
.button-filters{
    min-width: 20px;
    
}
.button-filters {
    width:44% ;
}
.filters{
  padding-bottom: 100px;
}
.populaires{
    width: 100%;
border-radius: 0px ;
height: 672px;
}
.information {
    margin-top: 150px;
    margin-left: 8%;
    width: 87%;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    gap : 13px
    
}.p1-filters {
    margin-left: 20px;
}

.hebergements-and-populaires{
    display: flex;
    flex-direction: column-reverse;
    gap: 60px;
}  
.populaires{
    border-radius: 0px;
}
.card {
    width:101%;
    height: 136px;
    border-radius: 20px;
}
.hebergements{
    background-color: white;
    min-width: 0;
}
.hebergements-and-populaires .populaires{
    border-radius: 0px;
    width: 100%;
 
}
.hebergements-and-populaires .hebergements{
    background-color: white;
    width: 100%;
}

.hebergements-carts{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.img-carts-hebergement{
    width: 100%;
    height: 100px;
}
.hebergements-carts{
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)) ;
     height: 20%;
}
.card-hebergements{
    height: 182.25px;
}
.activities-card-container{
    display: flex;
    flex-direction: column;
    
}
.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0px;
}
.search-button{
    z-index: 999;
    width: 50px;
border-radius: 15px;
padding-right: 20px;
background-image: url(/images/icone/Vector\ \(5\).png) ;
  font-size: 0;
 background-repeat: no-repeat; 
 background-position: center;
 position: relative;


}
.search-box{
    width: 274px;
    position: static;
}
.a-propos-section{
    min-width: 0px;
    width :  100%;
}
.card-title{
    font-size: 18px;
}
.activities-card{
    width: 86%;
    height: 191px;
} 
.img-activities {
    width: 100%;
    height: 134px;
}
.activities{
    margin-left: 20px
}
}